@using CI_Entities1.Models.ViewModel
@model StoryShareVM

<link rel="stylesheet" type="text/css" href="~/css/draft.css" asp-append-version="true">
<partial name="Navbar1"></partial>
<div class="container grid-container">
    <div class="row mt-3 mb-3">
        @foreach (var item in Model.Stories)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    @{
                        var storymedia = Model.storymedia.FirstOrDefault(e => e.StoryId == item.StoryId);
                    }
                    <div class="d-inline imgdiv position-relative">
                        <div id="change">
@*                            if(storymedia != null)
                            {
                            <img src="@storymedia.StoryPath"
                             class="card-img-top missionimg" alt="...">
                            }

                            else
                            {*@
                            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                             class="card-img-top missionimg" alt="...">
                            @*}*@

                            <button class="btn cardbtn btn-view" onclick="viewdetails()">
                                <a href="/Home/Storyshare?storyId=@item.StoryId" class="text-decoration-none text-black">Edit </a><i class="bi bi-arrow-right ms-2 mt-3 "></i>
                            </button>
                            <div class="rule" style="margin-top:-20px !important;">
                                <hr>
                                <button class="hrbtn-img">@item.Mission.Theme.Title</button>
                                <hr>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <h5 class="card-title" style="overflow: hidden; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">@item.Title</h5>
                        <p class="card-text text-secondary" style="overflow: hidden; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">@Html.Raw(@item.Description)</p>


                        <div class="col column2">
                            <img src="../Images/volunteer4.png" class="rounded-circle me-1"
                             style="height:30px;width:30px" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>