@using CI_Entities1.Models.ViewModel
@model UserVM

@*To Center A div--- class=" d-flex justify-content-center"*@
<partial name="Navbar1" />
<div class="container">
    <div class="row">
        <div class="col-3 border me-4 text-center" style="height:300px">
            <div>
                @if (@Model.Avatar == null)
                {
                    <input asp-for="Avatar" type="file" id="InputImg" style="display:none;"/>
                    <img src="/Images/volunteer1.png" id="imgDiv" onclick="FileImg()" class="rounded-circle mt-5" style="height: 170px; width:170px ; "
                     alt="">
                }
                else
                {
                    
                    <input asp-for="Avatar" type="file"  id="InputImg" style="display:none;"/>
                    <img src="/Images/volunteer1.png" id="imgDiv" onclick="FileImg()" class="rounded-circle mt-5" style="height: 170px; width:170px ; "
                     alt="">
                }
            </div>
            <div class="mt-1 fs-4">@Model.FirstName @Model.LastName</div>
            <div class="mt-1 text-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Change Password</div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form>
                            <div class="modal-body">
                                <div class="fs-4">Change Password </div>
                                <div><input asp-for="Password" class="col-12 mt-4" type="text" id="old" placeholder="Enter Old Password" /></div>
                                <div><input asp-for="NewPassword" class="col-12 mt-4" type="text" id="new" placeholder="Enter New Password" /></div>
                                <div><input asp-for="ConfirmPassword" class="col-12 mt-4" type="text" id="cnf" placeholder="Confirm Your Password" /></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn border-secondary rounded-pill shadow-none" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" onclick="ChangePsw()" class="btn oran shadow-none">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            @*modal*@



        </div>
        <div class="col-8">
            <div class="fs-4">Basic Information</div>
            <div class="row mt-3">
                <hr class="col-3 " style="border: 2px solid black;">
                <hr class="col-9 ">
            </div>

            <form asp-action="EditProfile" asp-controller="Home" method="post">
                <div class="row">
                    <div class=" col-6">
                        <div>Name* </div>
                        <div class="col-11">
                            <input asp-for="FirstName" class="col-12 p-1 form-control" placeholder="Enter Your Name" type="text">
                        </div>

                    </div>

                    <div class=" col-6">
                        <div>Surname*</div>
                        <div>
                            <input asp-for="LastName" class="col-12 p-1 form-control" placeholder="Enter Your Surname" type="text">
                        </div>
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                </div>

                <div class="row mt-4">
                    <div class=" col-6">
                        <div>Employee Id* </div>
                        <div class="col-11">
                            <input asp-for="EmployeeId" class="col-12 p-1 form-control" placeholder="Enter Your Employee Id" type="text">
                        </div>
                    </div>

                    <div class=" col-6">
                        <div>Manager*</div>
                        <div>
                            <input class="col-12 p-1 form-control" placeholder="Enter Your Manager Details" type="text">
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class=" col-6">
                        <div>Title* </div>
                        <div class="col-11">
                            <input asp-for="Title" class="col-12 p-1 form-control" placeholder="Enter Your Title" type="text">
                        </div>
                    </div>

                    <div class=" col-6">
                        <div>Department*</div>
                        <div class="mt-1">
                            <input asp-for="Department" class="col-12 p-1 form-control" placeholder="Enter Your Department Details" type="text">
                        </div>
                    </div>
                </div>

                <div class="mt-4">My Profile*</div>
                <textarea asp-for="ProfileText" class="col-12  form-control" rows="5" placeholder="Enter Your Comments"></textarea>

                <div class="mt-4">Why I volunteer?</div>
                <textarea asp-for="WhyIVolunteer" class="col-12  form-control" rows="5" placeholder="Why You Volunteered"></textarea>

                <div class="fs-4"> Address Information</div>
                <div class="row mt-3">
                    <hr class="col-3 " style="border: 2px solid black;">
                    <hr class="col-9 ">
                </div>

                <div class="row mt-4">
                    <div class=" col-6">
                        <div>City </div>
                        <div class="col-11">
                            <select asp-for="CityId" placeholder="Select Your Country" class="form-select col-11 p-1 shadow-none">
                                @foreach (var i in @Model.cities)
                                {
                                    <option value="@i.CityId">@i.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    @*present*@
                    <div class=" col-6">
                        <div>Country*</div>
                        <div>
                            <select asp-for="CountryId" va placeholder="Select Your Country" class="form-select col-11 p-1 shadow-none">
                                @foreach (var i in @Model.Countries)
                                {
                                    <option value="@i.CountryId">@i.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="fs-4 mt-5">Professional Information</div>
                <div class="row mt-3">
                    <hr class="col-4 " style="border: 2px solid black;">
                    <hr class="col-8 ">
                </div>

                <div class="row mt-4">
                    <div class=" col-6">
                        <div>Availablity</div>
                        <div>
                            <select class="form-select col-11 p-1 shadow-none">
                                <option>Select Your Availablity</option>
                                <option>Disabled select</option>
                            </select>
                        </div>
                    </div>

                    <div class=" col-6">
                        <div>Linkedin </div>
                        <div class="col-11">
                            <input class="col-12 p-1" asp-for="LinkedInUrl" placeholder="Enter Your Linkedin URL" type="text">
                        </div>
                    </div>
                </div>

                <div class="fs-4 mt-5">My Skills</div>
                <div class="row mt-3">
                    <hr class="col-2 " style="border: 2px solid black;">
                    <hr class="col-10 ">
                </div>


                <div class="user-skill-list-div" id="userskilldiv">
                    <ul class="user-skills-list">
                        @if (Model.userSkills != null)
                        {
                            foreach (var i in Model.userSkills)
                            {
                                <li>@i.Skill.SkillName</li>
                            }
                        }
                    </ul>
                </div>
                @*                <div>
                    <button class="mt-2 p-2 text-secondary brd btn shadow-none">Add Skills</button>
                    </div>*@
                <button class="user-add-skills-btn" data-bs-toggle="modal" type="button" data-bs-target="#addskillmodal">
                    Add Skills
                </button>

                <!------------------------------------------- Skill Modal------------------------------------------------------------------------------- -->
                <div class="modal fade" id="addskillmodal" tabindex="-1" aria-labelledby="addskillmodalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addskillmodalLabel">Add your skills</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container  p-0">
                                    <br />
                                    <div class="row d-flex m-0 p-0">
                                        <select multiple style="height:300px;" id="s1" class="  px-0 col-12 col-md-5 ">
                                            @if (ViewBag.userskills != null)
                                            {
                                                @foreach (var it in ViewBag.remainingSkills)
                                                {
                                                    <option value=@it.SkillId>@it.SkillName</option>
                                                }
                                            }
                                            else
                                            {
                                                @if (ViewBag.allskills != null)
                                                {
                                                    @foreach (var i in ViewBag.allskills)
                                                    {
                                                        <option value=@i.SkillId>@i.SkillName</option>
                                                    }
                                                }
                                            }
                                        </select>
                                        <div class="col-2 mt-5  px-2 d-md-block d-none flex-column ">
                                            <div class="mt-3 d-flex justify-content-center align-items-center ">

                                                <i class="bi bi-chevron-right py-2  px-1 skillimg" id="t1 " onclick="ved1()"></i>
                                            </div>
                                            <div class="mt-1  d-flex justify-content-center align-items-center">

                                                <i class="bi bi-chevron-left skillimg py-2  px-1" id="t2" onclick="ved2()"></i>

                                            </div>
                                            <div class="mt-1  d-flex justify-content-center align-items-center">

                                                <i class="bi bi-chevron-double-right skillimg py-2  px-1" id="t3" onclick="ved3()"></i>
                                            </div>
                                            <div class="mt-1  d-flex justify-content-center align-items-center">

                                                <i class="bi bi-chevron-double-left skillimg py-2 px-1 " id="t4" onclick="ved4()"></i>
                                            </div>
                                        </div>
                                        <div class="col-12 my-2 d-flex justify-content-center  align-items-center d-block d-md-none   px-2">

                                            <i class="bi bi-chevron-down  p-2 skillimg" id="t1 " onclick="ved1()"></i>

                                            <i class="bi bi-chevron-up skillimg p-2 ms-2" id="t2" onclick="ved2()"></i>

                                            <i class="bi bi-chevron-double-down skillimg px-2 ms-2" id="t3" onclick="ved3()"></i>

                                            <i class="bi bi-chevron-double-up skillimg px-2 ms-2" id="t4" onclick="ved4()"></i>
                                        </div>

                                        <select multiple id="s2" style="height:300px;" class=" px-0 col-12 col-md-5 ">
                                            @if (ViewBag.userskills != null)
                                            {
                                                @foreach (var it in ViewBag.userskills)
                                                {
                                                    <option value=@it.SkillId>@it.SkillName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer d-flex justify-content-start">
                                <button type="button" class="user-add-skill-cancel-btn rounded-pill border-secondary" id="close" data-bs-dismiss="modal">
                                    Cancel
                                </button>
                                <button type="button" id="skillSave" class="user-add-skill-save-btn oran">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="ms-auto">
                        <button type="submit" value="login" class="mt-3 oran px-3 p-1 rounded-pill border-secondary ">Save</button>
                    </div>
                </div>

            </form>

        </div>

    </div>

    <div class="row mt-5">
        <div class="col-2">Privacy Policy</div>
        <div class="col-2">Contact Us</div>
    </div>
</div>



<script>
        function FileImg(){
            $('#InputImg').click();
        }

        document.getElementById('InputImg').addEventListener("change", e => {
    const reader = new FileReader(); // Create a new FileReader object
    reader.onload = function () {
    document.getElementById('imgDiv').src = reader.result; // Set the source of the image tag to the selected image
    }
    reader.readAsDataURL(e.target.files[0]); // Read the selected file as a data URL
    });
        function ChangePsw(){
              var old = document.getElementById('old').value;
              var newp = document.getElementById('new').value;
              var cnf = document.getElementById('cnf').value;
              if(old == ""){
                  alert("Old password Required");
              }
              else if(newp!= cnf){
                  alert("Confirm Password Dosen't Match");
              }
              else{
                   $.ajax({
                url: '/Employee/Home/ChangePassword',
                type: 'POST',
                data: { old: old,newp:newp,cnf:cnf },
                success: function (response) {
                        if(response==true){
                            alert("password change successfully");

                        }
                        else{
                            alert("Password Don't Get Change Due to Some Issues");
                        }

                },
                error: function () {
                    alert("could not comment");
                }
            });
              }
        }


        function ved1() {
            var a = document.getElementById("s1");
            var c = document.getElementById("s2");
            for (var i = 0; i < a.length; i++) {
                if (a.options[i].selected == true) {
                    a.options[i].selected = false
                    c.add(a.options[i])
                    ved1()
                }
            }
        }
        function ved2() {
            var a = document.getElementById("s1");
            var c = document.getElementById("s2");
            for (var i = 0; i < c.length; i++) {
                if (c.options[i].selected == true) {
                    c.options[i].selected = false
                    a.add(c.options[i])
                    ved2()
                }
            }
        }

        function ved3() {
            var a = document.getElementById("s1");
            var c = document.getElementById("s2");
            for (var i = 0; i < a.length;) {
                c.add(a.options[c, i])
            }
        }

        function ved4() {
            var a = document.getElementById("s1");
            var c = document.getElementById("s2");
            for (var i = 0; i < c.length;) {
                a.add(c.options[a, i])
            }
        }

            //Skills
        document.getElementById('skillSave').addEventListener("click", e => {
            var selectedSkills = [];
            const skillsSelected = $('#s2 option');
            for (var i = 0; i < skillsSelected.length; i++) {
                selectedSkills.push(skillsSelected[i].value);
            }
            console.log(selectedSkills);
            $.ajax({
                url: '/Employee/Home/SaveUserSkills',
                type: 'POST',
                data: { selectedSkills: selectedSkills },

                success: function (response) {
                    $('#userskilldiv').html($(response).find('#userskilldiv').html());
                    document.getElementById('close').click();
                },
                error: function () {
                    alert("could not comment");
                }
            });
        });
</script>