@using CI_Entities1.Models.ViewModel
@model LandingPageVM

@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<style>
    /*For List view*/

    .landing-page-top-right {
        position: absolute;
        top: 8px;
        right: 16px;
        padding: 5px 10px;
        border-radius: 30px;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }

    .landing-page-bottom-right {
        position: absolute;
        bottom: 25px;
        right: 21px;
    }

    .landing-page-btn-img {
        border: none;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 30px;
        padding: 6px;
    }


    .applied-div {
        position: absolute;
        left: 0px;
        top: 8px;
        padding: 5px 10px;
        color: white;
        background-color: rgba(0, 255, 97, 0.6);
        font-size: 14px;
    }

    .top-right {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: rgba(0,0,0,0.5);
        color: #FFFFFF;
        border-radius: 15px;
        padding: 5px 10px;
    }

    .card-img-container {
        position: relative;
    }

    .bottom-right {
        position: absolute;
        bottom: 20px;
        right: 15px;
        background-color: rgba(0,0,0,0.5);
        color: #FFFFFF;
        border-radius: 15px;
        padding: 5px 10px;
    }

    .bottom-up {
        position: absolute;
        bottom: 65px;
        right: 15px;
        /*background-color: rgba(0,0,0,0.5);
            color: #FFFFFF;
            border-radius: 15px;
            padding: 5px 10px;*/
    }

    .top-right {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: rgba(0,0,0,0.5);
        color: #FFFFFF;
        border-radius: 15px;
        padding: 5px 10px;
    }

    .login-btn {
        border-radius: 24px;
        color: #F88634;
        background-color: white;
    }

        .login-btn:hover {
            color: #FFFFFF;
            background-color: #F88634;
        }

    #theme-btn {
        position: absolute;
        left: 100px;
        bottom: -12px;
        background: white;
        border-radius: 50px;
    }

    #aply-btn {
        border: 1px solid orange;
        padding: 8px;
        border-radius: 20px
    }

    }

    .top-left-applied {
        position: absolute;
        top: 15px;
        left: 0px;
        background-color: forestgreen;
        color: #FFFFFF;
        border-radius: 0px 15px 15px 0px;
        padding: 5px 10px;
    }

    .top-left!!importantmportantclosed {
        position: absolute;
        top: 15px;
        left: 0px;
        background-color: #F88634;
        color: #FFFFFF;
        border-radius: 0px 15px 15px 0px;
        padding: 5px 12px;
    }

    /*card*/

    .wid {
        height: 253px !important;
        /*width:414px;*/
    }

    .card-img {
        position: relative;
    }

    .pin {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.514);
        border-radius: 50px;
        top: 15px;
        right: 10px;
    }

    .heart {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.514);
        border-radius: 50%;
        top: 100px;
        right: 12px;
    }

    .share {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.514);
        border-radius: 50%;
        top: 150px;
        right: 12px;
        height: 40px;
        width: 40px;
    }

    .env {
        position: absolute;
        color: #7d7d7d;
        background-color: white;
        border-radius: 40px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: fit-content;
        bottom: -16px;
    }
    /*card*/

    .sort {
        width: 11rem;
        margin-left: auto;
    }

    .sortby {
        margin-left: auto;
    }

    /*card*/
    .krunal {
        background: transparent;
        border: 0px;
        z-index: 1;
    }

    .card-img {
        position: relative;
    }

    .pin {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.514);
        border-radius: 50px;
        top: 15px;
        right: 10px;
    }

    .heart {
        position: absolute;
        /*background-color: rgba(0, 0, 0, 0.514);*/
        border-radius: 50%;
        /*top: 100px;*/
        top: 4rem;
        right: 12px;
    }

    .share {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.514);
        border-radius: 45%;
        top: 7rem;
        right: 12px;
    }

    .env {
        position: absolute;
        color: #7d7d7d;
        background-color: white;
        border-radius: 40px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: fit-content;
        bottom: -16px;
    }
    /*card*/

    .sort {
        width: 11rem;
        margin-left: auto;
    }

    .sortby {
        margin-left: auto;
    }

    /*For List view*/

    .card-img-container {
        position: relative;
    }

    .bottom-right {
        position: absolute;
        bottom: 20px;
        right: 15px;
        background-color: rgba(0,0,0,0.5);
        color: #FFFFFF;
        border-radius: 15px;
        padding: 5px 10px;
    }

    .bottom-up {
        position: absolute;
        bottom: 65px;
        right: 15px;
        /*background-color: rgba(0,0,0,0.5);
                        color: #FFFFFF;
                        border-radius: 15px;
                        padding: 5px 10px;*/
    }

    .top-right {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: rgba(0,0,0,0.5);
        color: #FFFFFF;
        border-radius: 15px;
        padding: 5px 10px;
    }

    .login-btn {
        border-radius: 24px;
        color: #F88634;
        background-color: white;
    }

        .login-btn:hover {
            color: #FFFFFF;
            background-color: #F88634;
        }

    #theme-btn {
        position: absolute;
        left: 100px;
        bottom: -12px;
        background: white;
        border-radius: 50px;
    }

    #aply-btn {
        border: 1px solid orange;
        padding: 8px;
        border-radius: 20px
    }
</style>


<div class="container">
    @*sort by and explore mission*@
    <div class="explore-now row me-5">
        <div class="col-6 col-md-4 col-sm-4 d-inline">
            <p class="fs-4 ms-5 mt-2">
                Explore <strong class="fs-3">@ViewBag.TotalMission missions</strong>
            </p>
        </div>
        <div class="col-6 col-md-8 col-sm-8 d-flex mt-3 sortby mb-3">
            <div class="dropdown sort nav-item">
                <button class=" btn dropdown d-flex shadow-none" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <span class="sortby me-5 border p-2"> Sort By &nbsp;&nbsp;<img src="~/images/drop-down.png" /> </span>
                    <img src="/Image/drop-down.png" alt="" class="sortaerrow">
                </button>
                <ul class="dropdown-menu" id="sortby" name="sortby">
                    <li><a class="dropdown-item" onclick="mysearch(order=1)">Title</a></li>
                    <li><a class="dropdown-item" onclick="mysearch(order=2)">Start Date</a></li>
                    <li><a class="dropdown-item" onclick="mysearch(order=3)">End Date</a></li>
                    <li><a class="dropdown-item" onclick="mysearch(order=4)">Availbility</a></li>
                    <li><a class="dropdown-item" onclick="mysearch(order=5)">Theme</a></li>
                    <li><a class="dropdown-item" onclick="mysearch(order=6)">Favrouite</a></li>
                </ul>
            </div>

            @*            <div class="ms-5 ">

                <a class="btn-grid " href="">
                <img src="~/images/grid.png" />
                </a>

                <a class="btn-list ms-lg-3 ms-md-3 ms-sm-3 listbuton" href="">
                <img src="~/images/list.png" />
                </a>
                </div>*@

            <div class="btn-group d-none d-lg-flex">
                <button class="btn shadow-none" id="grid" onclick="grid()">
                    @*<i class="fa fa-th-large "></i>*@
                    <i class="bi bi-grid-1x2-fill fs-5"></i>
                </button>
                <button class="btn shadow-none" id="list" onclick="list()">
                    @*<i class="fa fa-bars"></i>*@
                    <i class="bi bi-list fs-2"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="filters-section d-flex align-items-end flex-wrap justify-content-start ms-5">
</div>
@*card view*@
<div class="container">
    <div class="row">

        <div id="products" class="row view-group d-flex">
            @foreach (var category in Model.missions)
            {
                var userid = Context.Session.GetString("userID");

                var apply = Model.missionApplications.Where(e => Convert.ToString(e.UserId) == userid && e.MissionId == category.MissionId).FirstOrDefault();
                var seat = Convert.ToInt32(category.Availability) - Convert.ToInt32(Model.missionApplications.Where(e => e.MissionId == category.MissionId).ToList().Count());

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-img ">
                            @*<img class="card-img-top h-100 " src="~/Images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card image cap" />*@
                            <img class="card-img-top h-100 wid" src="@category.Imagepath" style="" />



                            @if (apply != null)
                            {
                                <div class="top-left-applied">
                                    APPLIED
                                </div>
                            }
                            @if (category.EndDate < DateTime.Now && category.MissionType.Equals("TIME"))
                            {
                                <div class="top-left-closed">
                                    CLOSED
                                </div>
                            }

                            <div class="pin d-flex align-items-center px-2 py-1 ">
                                <img src="~/Images/pin.png" alt="location">
                                <p class="text-white mb-0 px-2">@category.City.Name</p>
                            </div>

                            @{
                                var ui = Context.Session.GetString("userID");
                                var fav = Model.favoriteMissions.FirstOrDefault(u => u.UserId == Convert.ToInt32(ui) && u.MissionId == category.MissionId);
                            }

                            @if (fav == null)
                            {
                                <div class="heart" style="height:30px;width:30px; position: absolute; background-color: rgba(0, 0, 0, 0.514); border-radius: 45%;">
                                    <button class=" addFav align-items-center px-2 py-1  krunal" transparent onclick="addToFav(@category.MissionId)">
                                        <i class="bi bi-heart-fill" id="heart" style="color:white"></i>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <button class="btn addFav   heart align-items-center px-2 py-1 " onclick="addToFav(@category.MissionId)">
                                    <span id="boot-icon" class="bi bi-heart-fill" style="font-size: 20px; color: #F88634;"></span>
                                </button>
                            }

                            <div class="share align-items-center px-2 py-1">
                                <button class="btn col" type="button" style="height:25px;width:25px" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <img src="~/Images/user.png" style="position: relative;top:-5px;bottom: 0px;right: 10px;">
                                </button>

                                <div class="modal fade modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Send Recommend TO</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body overflow-y-auto" style="height:200px;">
                                                @foreach (var user in Model.users)
                                                {
                                                    <div class="d-flex my-3 bg-light ">
                                                        <img src="~/images/volunteer1.png" class="rounded-5 me-5" style="border-radius:50%;width:50px;height:50px">
                                                        <label class=" ms-4 mt-2 me-auto"> @user.FirstName @user.LastName </label>
                                                        <input class="form-check-input me-2 mt-2" type="checkbox" value="" id=@user.UserId name="mail">
                                                    </div>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn border-secondary rounded-pill shadow-none" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn oran shadow-none" id="sendmail" onclick="sendmail(@category.MissionId)">Send Mission</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="env align-items-center px-2 py-1 ">
                                <p class="mb-0 info-txt-2">@category.Theme.Title</p>
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title" style="overflow: hidden; display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">
                                @category.Title
                            </h5>
                            <p class="card-text text-secondary" style="overflow: hidden; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">
                                @category.ShortDescription
                            </p>

                            <div class="d-flex">
                                <div class="card-text">@category.OrganizationName</div>

                                @*Star Rating*@
                                @{
                                    var count = 0;
                                    var rate = Model.missionRatings.Where(e => e.MissionId == category.MissionId).Select(e => e.Rating).ToList();
                                    var avg = Math.Ceiling(Convert.ToDouble(rate.Sum()) / Convert.ToDouble(rate.Count()));
                                }

                                <div class="ms-auto">
                                    @if (avg != 0)
                                    {
                                        @for (var i = 0; i < avg; i++)
                                        {
                                            count++;
                                            <img src="~/images/selected-star.png">

                                        }
                                        @for (var i = avg; i < 5; i++)
                                        {
                                            <img src="~/images/star.png">
                                        }
                                    }

                                    @if (avg == 0)
                                    {
                                        <div class="ms-auto text-danger"> Not Rated</div>
                                    }

                                </div>

                            </div>

                            @if (@category.MissionType == "Time")
                            {
                                <div class="rule mt-1">
                                    <hr>
                                    <button class="hrbtn">From @category.StartDate.ToString().Split(" ")[0] until @category.EndDate.ToString().Split(" ")[0]</button>
                                    <hr>
                                </div>
                            }
                            else
                            {
                                @foreach (var goal in Model.goalMissions)
                                {
                                    @if (@category.MissionId == goal.MissionId)
                                    {
                                        <div class="rule">
                                            <hr>
                                            <button class="hrbtn">@goal.GoalObjectiveText</button>
                                            <hr>
                                        </div>
                                    }
                                }
                            }


                            <div class="d-flex flex-row justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">@seat</p>
                                        <p class="seat">Seats Left</p>
                                    </div>
                                </div>



                                @if (category.MissionType == "Time")
                                {
                                    <div class="ms-auto"><img src="/images/deadline.png" class="mt-2"></div>
                                    <div class="ms-2">
                                        @*@category.EndDate.ToString().Split(" ")[0]*@
                                        @category.StartDate.Value.AddDays(-1).ToShortDateString()
                                        <p>Deadline</p>
                                    </div>
                                }
                                else
                                {

                                    <div class="ms-auto me-2"><img src="/images/achieved.png" class="mt-2"></div>
                                    <div class="ms-2 me-5" stye="width:100%">
                                        <div class="progress mt-2" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar bg-warning" style="width: 25%">25%</div>
                                        </div>
                                        <fs-5>Deadline</fs-5>
                                    </div>
                                }


                            </div>

                            <div class="text-center ">
                                <a asp-controller="Home" asp-action="volunteering" asp-route-missionid="@category.MissionId" class="btn shadow-none cardbtn mx-auto ">
                                    <span>Apply</span> <img class="ms-1"
                                                        src="/Images/right-arrow.png">
                                </a>
                            </div>

                        </div>


                    </div>
                </div>
            }
        </div>



        <div id="list-products" class="container row view-group d-none">
            @foreach (var i in Model.missions)
            {

                <div class="row">
                    <div class="d-flex mb-3" style="border:solid 1px;">
                        <div class="card-img-container col-3">
                            <img class="card-img-top  wid" src="@i.Imagepath" style="" />

                            @{
                                var userId = Context.Session.GetString("userID");

                                var applied = Model.missionApplications.FirstOrDefault(e => e.MissionId == i.MissionId && e.UserId == Convert.ToInt32(userId));
                                var isClosed = 0;

                                bool isFavrouite = (userId != null) ? Model.favoriteMissions.Any(e => e.MissionId == i.MissionId && e.UserId == Convert.ToInt32(userId)) : false;
                                var MissionEndDate = i.EndDate.ToString().Split(" ")[0];
                                DateTime EndDate = DateTime.Parse(MissionEndDate).Date;
                                DateTime Deadline = EndDate.AddDays(-5);
                                if (Deadline < DateTime.Now)
                                {
                                    isClosed = 1;
                                }
                            }

                            @if (applied != null)
                            {
                                <div class="applied-div">Applied</div>

                            }
                            <div class="top-right">
                                <img src="~/images/pin.png" />@i.City.Name
                            </div>

                            <div class="landing-page-bottom-right d-flex flex-column add_fav">

                                @{
                                    var ui = Context.Session.GetString("userID");
                                    var fav = Model.favoriteMissions.FirstOrDefault(u => u.UserId == Convert.ToInt32(ui) && u.MissionId == i.MissionId);
                                }

                                @if (userId != null)
                                {
                                    <button class="mb-2 landing-page-btn-img " onclick="addToFav(@i.MissionId)">

                                        <i class="bi bi-heart-fill" style="@(isFavrouite ? "color:#F88634;" : "color:white;")" id="heart-@i.MissionId"></i>
                                    </button>
                                    <button class="landing-page-btn-img" type="button" data-bs-toggle="modal" data-bs-target="#Modal">
                                        <img src="~/images/user.png" alt="">
                                    </button>
                                }
                                else
                                {
                                    <button class="mb-2 landing-page-btn-img" disabled> <img src="~/images/heart.png"> </button>

                                    <button class="landing-page-btn-img" type="button" disabled>
                                        <img src="~/images/user.png" alt="">
                                    </button>

                                }
                                <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Send Recommend TO</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body overflow-y-auto" style="height:200px;overflow-x:auto;">
                                                @foreach (var user in Model.users)
                                                {
                                                    <div class="d-flex my-3 bg-light ">
                                                        <img src="~/images/volunteer1.png" class="rounded-5 me-5" style="border-radius:50%;width:50px;height:50px">
                                                        <label class=" ms-4 mt-2 me-auto"> @user.FirstName @user.LastName </label>
                                                        <input class="form-check-input me-2 mt-2" type="checkbox" value="" id=@user.UserId name="mail">
                                                    </div>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn border-secondary rounded-pill shadow-none" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn oran shadow-none" id="sendmail" onclick="sendmail(@i.MissionId)">Send Mission</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="text text-center px-2" id="theme-btn">
                                <span>@i.Theme.Title</span>
                            </div>
                        </div>

                        <div class="col-9 p-2">
                            @*city, theme, organization *@
                            <div class="row py-2">
                                <div class="col-9">
                                    <img class="px-2" src="~/images/pin1.png" />@i.City.Name
                                    @*<img class="px-2" src="~/images/web">*@
                                    <i class="bi bi-geo-alt px-2"> </i>@i.Theme.Title
                                    <img class="px-2" src="~/images/organization.png">@i.OrganizationName
                                </div>


                                @*Star Rating*@
                                @{
                                    var count = 0;
                                    var rate = Model.missionRatings.Where(e => e.MissionId == i.MissionId).Select(e => e.Rating).ToList();
                                    var avg = Math.Ceiling(Convert.ToDouble(rate.Sum()) / Convert.ToDouble(rate.Count()));
                                }

                                <div class="col-3 justify-content-end d-inline-flex py-2">

                                    @if (avg != 0)
                                    {
                                        @for (var x = 0; x < avg; x++)
                                        {
                                            count++;
                                            <img src="~/images/selected-star.png">

                                        }
                                        @for (var x = avg; x < 5; x++)
                                        {
                                            <img src="~/images/star.png">
                                        }
                                    }

                                    @if (avg == 0)
                                    {
                                        <div class="ms-auto text-danger"> Not Rated</div>
                                    }

                                </div>
                            </div>
                            @*title, description, date and acheievd area *@
                            <h5 class="">@i.Title</h5>
                            <p class="">@i.ShortDescription</p>
                            <div class="row">
                                <div class="col-12">


                                    <div class="row">


                                        <div class="col-lg-2 col-6 d-inline-flex p-0">
                                            <div class="p-3 px-2">
                                                <img class="" src="~/images/Seats-left.png" />
                                            </div>
                                            <div class="p-2">
                                                <h6 class=" mb-0">@i.Availability</h6>
                                                <small>Seat Left</small>
                                            </div>
                                        </div>


                                        @if (i.MissionType == "Time")
                                        {
                                            <div class="col-lg-2 col-6 d-inline-flex px-0">
                                                <div class="p-3 px-2">
                                                    <img class="" src="~/images/deadline.png" />
                                                </div>
                                                <div class="p-2 w-100">
                                                    <div>
                                                        <div>@Deadline.ToString().Split(" ")[0]</div>
                                                    </div>
                                                    <small>Registration Deadline</small>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-lg-2 col-6 d-inline-flex px-0">
                                                <div class="p-3 px-2">
                                                    <img class="" src="~/images/achieved.png" />
                                                </div>
                                                <div class="w-100">
                                                    <div class="progress mt-3 w-75">
                                                        <div class="progress-bar" role="progressbar" style="width:20%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <small>Acheived</small>
                                                </div>
                                            </div>

                                        }


                                        <div class="col-lg-2 col-6 d-inline-flex px-0">
                                            <div class="p-3 px-2">
                                                <img class="" src="~/images/calender.png" />
                                            </div>
                                            <div class="mt-2 px-1">
                                                <small class="pt-3 mb-0">From @i.StartDate.Value.ToShortDateString()</small><br>
                                                <small>Untill @i.EndDate.Value.ToShortDateString()</small>
                                            </div>
                                        </div>

                                        <div class="col-lg-2 col-6 d-inline-flex px-0">
                                            <div class="p-3 px-2 ">
                                                <i class="bi bi-tools border"></i>
                                            </div>
                                            <div class="">
                                                <h6 class="pt-3 mb-0">Skill</h6>
@*                                                @foreach (var j in Model.skills)
                                                    {
                                                    <small>@j.SkillName </small>
                                                    }*@
                                                    <small>SkillName </small>

                                            </div>
                                        </div>


                                        <div class=" col-lg-4 col-6 d-inline-flex px-0" style="width: max-content;height: fit-content;margin-left: auto;margin-right: 25px; margin-top: 20px;">

                                            @if (userId != null)
                                            {
                                                @if (applied == null)
                                                {
                                                    <a href="/Employee/Home/volunteering?missionid=@i.MissionId" style="text-decoration:none;border:2px solid orange!important" id="login-btn" class="form-control my-1 w-auto px-4 login-btn">
                                                        Apply <img src="~/images/right-arrow.png" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="/Employee/Home/volunteering?missionid=@i.MissionId" style="text-decoration:none;border:2px solid orange!important" id="login-btn" class="form-control my-1 w-auto px-4 login-btn">
                                                        View Details <img src="~/images/right-arrow.png" />
                                                    </a>
                                                }
                                            }
                                            else
                                            {
                                                <a href="/Employee/Home/volunteering?missionid=@i.MissionId" style="text-decoration:none;border:2px solid orange!important" id="login-btn" class="form-control my-1 w-auto px-4 login-btn">
                                                    View Details <img src="~/images/right-arrow.png" />
                                                </a>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>


        @*End Of List View*@

    </div>
</div>

@*pagination*@
@if (pager.TotalPages > 0)
{
    <ul class="pagination justify-content-center">
        @if (pager.CurrentPage > 1)
        {
            <li class="mx-1">
                <a class="page-link back" onclick="mysearch(order=0,jpg=1)"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item mx-1">
                <a class="page-link back" onclick="mysearch(order=0,jpg=@(pager.CurrentPage-1))"><span aria-hidden="true">&lsaquo;</span></a>
            </li>
        }
        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
        {
            <li class="page-item mx-1 @(pge==pager.CurrentPage ? "active":"")">
                <a class="page-link back" onclick="mysearch(order=0,jpg=@pge)">@pge</a>
            </li>
        }
        @if (pager.CurrentPage < pager.TotalPages)
        {
            <li class="page-item mx-1">
                <a class="page-link back" onclick="mysearch(order=0,jpg=@(pager.CurrentPage+1))"><span aria-hidden="true">&rsaquo;</span></a>
            </li>
            <li class="mx-1">
                <a class="page-link back" onclick="mysearch(order=0,jpg=@(pager.TotalPages))"><span aria-hidden="true">&raquo;</span></a>
            </li>
        }

    </ul>
}

<hr />
<div class="container ">
    <div class="text-secondary ">
        <a asp-action="Privacy" asp-controller="Home" class="text-decoration-none text-secondary">Privacy Policy</a>
    </div>
</div>
<script>
    if (localStorage.getItem("viewref") == "list") {
            list();
        }
        else {
            grid();
        }
</script>