@using CI_Entities1.Models.ViewModel
@model AdminVM

<div class="fs-4">
    Mission Theme
</div>

<div class="row">
    <hr class="col-3" style="border: 2px solid black;">
    <hr class="col-9">
</div>

<div class="button-row mb-3">
    <div class=" start-btn">

        <input class="form-control me-2 shadow-none xyz" id="myInputTextField" type="search" placeholder="Search" aria-label="Search">
    </div>

    <div class="end-btn">
        <button data-bs-toggle="modal" data-bs-target="#ThemeModal" class="btn btn-outline-warning rounded-pill px-3 py-0 me-2 shadow-none"><i class="bi bi-plus-lg "></i> <span class="btn-label">Add</span></button>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ThemeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <label>Theme Title</label>
                    <div>
                        <input class="col-11" type="text" id="title" />
                    </div>
                </div>

                <input type="hidden" id="Themeid" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="ThemeAddEdit()">Save</button>
            </div>
        </div>
    </div>
</div>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Theme Name</th>
            <th>Status</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var theme in Model.missionThemes)
        {
            <tr id="application">
                <td>@theme.Title</td>
                @*<td>@theme.Status</td>*@
                <td>
                    @if (@theme.Status == 1)
                    {
                        <span style="color:green">Active</span>
                    }
                    else
                    {
                        <span style="color:red">Inactive</span>
                    }
                    </td>
                <td>
                    <span>
                        <button class="btn shadow-none" data-bs-toggle="modal" data-bs-target="#ThemeModal" onclick="GetThemeData(@theme.MissionThemeId)">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </span>
                    <span>
                        <button class="btn shadow-none" onclick="ThemeDelete(@theme.MissionThemeId)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function ThemeAddEdit()
    {
        var title=$("#title").val();
        var Themeid=$("#Themeid").val();

        $.ajax({
            url: '/Admin/Admin/ThemeAddEdit',
            type: 'GET',
            data: {'title':title, 'Themeid': Themeid},
            success: function (res) {
                console.log(res);
                $("#theme").click();
            },
            error: function (res) {
                alert("Theme Modal error");
            }
        });
    }

        function GetThemeData(Themeid)
        {
               $.ajax({
               url: '/Admin/Admin/GetThemeData',
               type: 'GET',
               data: {'Themeid':Themeid},
               success: function (res) {
                   console.log(res);
                   $("#title").val(res.title);
                   $("#Themeid").val(res.missionThemeId);
                    },
               error: function (res) {
                   console.log(res);
                   alert("get Theme Modal error");
               }
           });

    }

    function ThemeDelete(id)
    {
        $.ajax({
            url: '/Admin/Admin/ThemeDelete',
            type: 'GET',
            data: {'id':id },
            success: function (res) {
                console.log(res);
                $("#theme").click();
            }
        });
    }
</script>