@using CI_Entities1.Models.ViewModel
@model AdminVM

<div class="fs-4">
    User
</div>

<div class="row">
    <hr class="col-1" style="border: 2px solid black;">
    <hr class="col-11 ">
</div>

<button type="button" class="btn rounded-pill ms-auto shadow-none oran  data" data-bs-toggle="modal" onclick="nullvalues()"
        data-bs-target="#exampleModalADDGoal">
    <i class="bi bi-plus-lg me-2 "></i>ADD
</button>


<table id="myTable" class="display">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Employee Id</th>
            <th>Department</th>
            <th>Status</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.EmployeeId</td>
                <td>@user.Department</td>
                <td>@user.Status</td>

                <td>
                    <span>
                        <button class="btn shadow-none">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </span>
                    <span>
                        <button class="btn shadow-none">
                            <i class="bi bi-trash"></i>
                        </button>
                    </span>
                </td>


            </tr>
        }
    </tbody>
</table>


